  body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    }
ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}   
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
img {
    display: block;
}
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
  /*Header*/
.header {
    font-weight: 700;
    font-size: 18px;
    color: #4d5ae5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    border-bottom: 1px solid var(--cornflower);
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.header-nav {
    color: #2e2f42;
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-link-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4d5ae5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-right: 76px;
}
.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #2e2f42;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
}
.header-list {
    color: #2e2f42;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-link {
    position: relative;
    display: block;
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 0;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link.current {
    color: #404bbf;
}
.header-link::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    background-color: #404bbf;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover:after,
.header-link:focus::after,
.header-link.current::after {
opacity: 1;
}
.header-link:hover {
    color: #404bbf;
}    
.header-link:focus {
    color: #404bbf;
}
.contacts {
    margin-left: auto;
    font-style: normal;
}
.contacts-list {
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    display: flex;
    align-items: center;
    gap: 40px;
}    
.contacts-item {
    color: #434455;
    display: flex;
    gap: 40px;
}
.contacts-link {
    color: #434455;
    display: block;
    padding: 24px 0;
    display: flex;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

/* Main */
.main-section {
    background-color: #2e2f42;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    padding: 188px 0 188px;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    margin: auto;
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    align-items: center;
    max-width: 496px;
    margin: 0 auto 48px;
}
.main-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    align-items: center;
    margin-top: 45px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:hover,
.main-button:focus {
    background-color: #404BBF;
}

/* Our Advantages */ 
.advantages-section {
    color: #434455;
    padding: 120px 0 120px;
}
.advantages-container {
    display: flex;
    align-items: center;
    width: calc(100% - 72px) / 4;
}
.advantages-list {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
list-style: none;
display: flex;
align-items: center;
gap: 24px;
}
.advantages-item {
    flex-basis: calc((100% - 72px) / 4);
}
.advantages-item-icon {
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background: #F4F4FD;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    padding: 24px 100px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}
.advantages-social-icons {
    width: 64;
    height: 64;
}
.advantages-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #2e2f42;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.advantages-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Our Team */
.team-section {
    background-color: #F4F4FD;
    line-height: 1.11;
    font-size: 36px;
    padding: 120px 0 120px;
}
.team-container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}
.team-title-middle {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    align-items: center;
    margin-bottom: 72px;
}
.team-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.team-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-info {
    padding-top: 32px;
    padding-bottom: 32px;

}
.team-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
    margin-top: 32px;
    text-align: center;
}
.team-text {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
.team-list-social {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 8px;
    gap: 24px;
}
.team-item-social {
    width: 40px;
    height: 40px;
    
}
.team-icons {
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.team-item-social :hover,
.team-item-social :focus {
    background-color: #404bbf;
}
.team-social-icons {
    fill: #f4f4fd;
    width: 16;
    height: 16;
}

/*Our Portfolio*/
.portfolio-section {
    color: #2e2f42;
    text-transform: capitalize;
    line-height: 1.11;
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}
.portfolio-title-middle {
    color: #2e2f42;
    text-align: center;
    line-height: 1.11;
    font-size: 36px;
    letter-spacing: 0.02em;
    align-items: center;
    margin-bottom: 72px;
}
.portfolio-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    align-items: center;
    padding: 0;
    margin: 0;
}
.portfolio-item {
    background-color: #FFFFFF;
    margin-bottom: 8px;
    width: calc((100% - 48px) / 3);
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}
.portfolio-item:hover .portfolio-text-overlay {
    transform: translateY(0%);
}
.portfolio-overlay {
    position: relative;
    overflow: hidden;
}
.portfolio-text-overlay {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}
.portfolio-title {
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    padding-top: 32px;
    margin-bottom: 8px;
}
.portfolio-text {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 0
}

/*Footer*/
.footer-page {
    background-color: #2e2f42;
    line-height: 1.17;
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: baseline;
}
.footer-container {
    flex-direction: row;
    display: flex;
    align-items: baseline;
}
.footer-container-logo {
    margin-right: 120px;
    display: flex;
    align-items: baseline;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 120px;
}
.footer-link-logo {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 16px;
    display: inline-block;
    margin-bottom: 16px;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 16px;
    }
.footer-text {
    color: #F4F4FD;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    padding-bottom: 100px;
    max-width: 264px;
    margin: 0;
}
.footer-social-media {
    margin-right: 120px;
    display: flex;
    align-items: baseline;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 120px;
}
.footer-text-media {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 16px;
}
.footer-list-social {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 8px;
    gap: 16px;
}
.footer-item-social {
    width: 40px;
    height: 40px;
    
}
.footer-icons {
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-item-social :hover {
    background-color: #31d0aa;
}
.footer-item-social :focus {
    background-color: #31d0aa;
}
.footer-social-icons {
    fill: #f4f4fd;
    width: 24;
    height: 24;
}
.footer-button {

}
.footer-subscribe {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.footer-form {
    display: flex;
}
.footer-label {
    gap 24px;
}
.footer-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    
}
.button-subscribe {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    padding-left: 24px;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    
}
.footer-icon-point {
    margin-left: 16px;
}

/*Window overlay*/
.modal-overlay {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 408px;
    min-height: 584px;
    max-width: 480px;
    overflow-y: auto;
    top: 50%;
    left: 50%;
    padding: 72px 24px 24px 24px;
    position: absolute;
}
.button-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    fill: var(--cornflower);
    stroke-width: 1px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    stroke: rgba(0, 0, 0, 0.1);
    top: 24px;
    right: 24px;
    padding: 0;
    cursor: pointer;
    background-color: #e7e9fc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:hover {
    background-color: #404bbf;
    border: none;
}
.button-close:focus {
    background-color: #404bbf;
    border: none;
}

.close-icons-cross {
    display: block;
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-icons-cross:hover {
    fill: #ffffff;
}
.close-icons-cross:focus {
    fill: #ffffff;
}
.modal-text {
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 16px;
}
.form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    border-radius: 4px;
    width: 360px;
    height: 336px;
    margin: 16px;
}
.wrapper {
    margin-bottom: 16px;
    margin-left: 24px;
    max-width: 360px;
    margin-bottom: 8px;
}
.form-label {
    width: 360px;
    height: 58px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}
.wrapper-icons {
    position: relative;
    border: 1px solid var(--iris);
        border-radius: 4px;
        width: 360px;
        height: 40px;
}
.form-input {
border-radius: 4px;
    width: 100px;
    height: 40px;
    background: transparent;
    padding-left: 38px;
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
    border-color: #4d5ae5;
    fill: #4D5AE5;
}
.icons {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 16px;
}
.textarea:focus {
    border-color: #4D5AE5;
}
.checkbox {
    margin-bottom: 24px;
}
.check-input {

}
.check-input:checked {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}
.privacy-policy {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #4d5ae5;

}
.checked-element {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    cursor: pointer;
    margin-right: 8px;

}
.form-button {
    align-items: center;

}
.button-send {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}